openapi: 3.2.0
info:
  version: 2026.06.11
  title: Angelcam active-service Incidents API
  contact:
    email: support@angelcam.com
  x-logo:
    url: ./assets/logo-angelcam.svg
  description: 'Angelcam RESTful API — HTTPS only, JSON, all URLs require a trailing slash. See the [developer docs](/) for quickstart, authentication, and key concepts.

    '
servers:
- url: https://api.angelcam.com/v1
tags:
- name: incidents
  x-displayName: Incidents
  description: 'Endpoints for managing Real Time Security (RTS) incidents.

    An incident is a security event that has been detected and may require attention. Incidents are created automatically when sensor events or camera status changes match an active [notification rule](#tag/rts_notification_rules).

    Incidents go through the following states:

    * **Open** — the incident has been created and not yet reviewed. * **Verified** — acknowledged as a genuine security event (`verified_at` is set). * **Closed** — the incident has been resolved (`closed_at` is set). An incident can be closed without being verified first (e.g. a false alarm).

    '
paths:
  /rts/incidents/:
    get:
      operationId: incidents
      summary: Retrieve incidents
      tags:
      - incidents
      description: Retrieves list of user incidents
      parameters:
      - name: limit
        in: query
        required: false
        description: 'Limit result set. Example: `1`.'
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        required: false
        description: 'Return results starting at `offset`. Example: `10`.'
        schema:
          type: integer
          minimum: 1
      - name: start
        in: query
        description: 'Example: `2017-03-07T14:00:00Z`.'
        required: false
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: 'Example: `2017-03-07T16:00:00Z`.'
        required: false
        schema:
          type: string
          format: date-time
      - name: ordering
        in: query
        description: 'Orderign of results, based on `created_at` field. Default: desc'
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      security:
      - OAuth2:
        - incidents_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentListResponse'
        '400':
          $ref: '#/components/responses/Error400InvalidParams'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
  /rts/incidents/{incident_id}/:
    get:
      operationId: rts-incident-detail
      summary: Retrieve incident detail
      description: Retrieve incident detail
      tags:
      - incidents
      security:
      - OAuth2:
        - incidents_access
      - PersonalAccessToken: []
      parameters:
      - $ref: '#/components/parameters/incidentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentObject'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
components:
  schemas:
    Error403PermissionDenied:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 403 Permission Denied
      example:
        title: permission_denied
        detail: You do not have permission to perform this action.
        status: 403
    ErrorGeneric:
      type: object
      title: Error object
      properties:
        title:
          type: string
        detail:
          type: string
        status:
          type: integer
      required:
      - title
      - detail
      - status
    SnapshotObject:
      title: Snapshot object
      properties:
        url:
          format: uri
          description: URL of the snapshot image
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: The date and time when the snapshot was created for the first time
      required:
      - url
      - created_at
      example:
        url: https://dsw4ncxjbie85.cloudfront.net/snapshot/157/h8yeodu1mrjtiiok.jpg
        created_at: '2017-03-31T12:29:10.000Z'
      description: Snapshot is created by Angelcam when certain types of events are received
      type:
      - object
      - 'null'
    Error404NotFound:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 404 Not Found
      example:
        title: not_found
        detail: Not Found
        status: 404
    IncidentObject:
      type: object
      title: Incident object
      properties:
        id:
          type: number
          minimum: 1
          description: Incident ID
        created_at:
          type: string
          description: Time when incident was created, format `%Y-%m-%dT%H:%M:%SZ`
        verified_at:
          type:
          - string
          - 'null'
          description: Time when incident was verified, format `%Y-%m-%dT%H:%M:%SZ`
        closed_at:
          type:
          - string
          - 'null'
          description: Time when incident was closed, format `%Y-%m-%dT%H:%M:%SZ`
        first_event_occurred_at:
          type:
          - string
          - 'null'
          description: Time when first event (triggering one) occured, format `%Y-%m-%dT%H:%M:%SZ`
        last_event_occurred_at:
          type:
          - string
          - 'null'
          description: Time when last event durign of incident occured, format `%Y-%m-%dT%H:%M:%SZ`
        event_count:
          type: number
          minimum: 1
          description: Number of events during incident
        incident_sharing_url:
          type:
          - string
          - 'null'
          description: URL that can be used for incident verification by third parties. The URL leads to a web page where all cameras from the affected site can be viewed (live streams + the last two hours of recording). The URL is valid for one hour after the corresponding incident is created. This field will be `null` if the URL is no longer valid.
        snapshot:
          $ref: '#/components/schemas/SnapshotObject'
      required:
      - id
      - created_at
      - verified_at
      - closed_at
      - first_event_occurred_at
      - last_event_occurred_at
      - event_count
      - incident_sharing_url
      - snapshot
      example:
        id: 1
        created_at: '2019-08-09T13:23:23.000Z'
        verified_at: '2019-08-09T13:23:58.000Z'
        closed_at: null
        first_event_occurred_at: '2019-08-09T13:23:20.000Z'
        last_event_occurred_at: '2019-08-09T13:25:16.000Z'
        event_count: 5
        incident_sharing_url: www.example.com
        snapshot:
          url: https://dsw4ncxjbie85.cloudfront.net/snapshot/81/y8jol6kbn0ol1gh2.jpg
          created_at: '2019-08-09T13:23:24.000Z'
    Error401Unauthorized:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 401 Unauthorized
      example:
        title: not_authenticated
        detail: Authentication credentials were not provided
        status: 401
    Error400InvalidParams:
      type: object
      title: Error 400 Invalid Parameters
      properties:
        title:
          type: string
        detail:
          type: object
        status:
          type: integer
      required:
      - title
      - detail
      - status
      example:
        title: invalid
        detail:
        - refresh_rate:
          - valid number is required.
          - Ensure this value is greater than 0.
        - max_width:
          - valid number is required.
          - Ensure this value is greater than or equal to 1.
        status: 400
    IncidentListResponse:
      type: object
      title: Incident list
      properties:
        count:
          type: integer
          minimum: 0
          description: Count of all incidents
        next:
          format: uri
          description: Next page from pagination
          type:
          - string
          - 'null'
        previous:
          format: uri
          description: Previous page from pagination
          type:
          - string
          - 'null'
        results:
          type: array
          description: List of incidents
          items:
            $ref: '#/components/schemas/IncidentObject'
      required:
      - count
      - next
      - previous
      - results
      example:
        count: 10
        next: null
        previous: null
        results:
        - id: 1
          created_at: '2019-08-09T13:23:23.000Z'
          verified_at: '2019-08-09T13:23:58.000Z'
          closed_at: null
          first_event_occurred_at: '2019-08-09T13:23:20.000Z'
          last_event_occurred_at: '2019-08-09T13:25:16.000Z'
          event_count: 5
          incident_sharing_url: www.example.com
          snapshot:
            url: https://dsw4ncxjbie85.cloudfront.net/snapshot/81/y8jol6kbn0ol1gh2.jpg
            created_at: '2019-08-09T13:23:24.000Z'
  responses:
    Error401Unauthorized:
      description: Missing or invalid authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401Unauthorized'
    Error403PermissionDenied:
      description: Missing permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403PermissionDenied'
    Error404NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404NotFound'
    Error400InvalidParams:
      description: Query params are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400InvalidParams'
  parameters:
    incidentId:
      name: incident_id
      in: path
      required: true
      description: Incident ID
      example: 3
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'See the Authentication section above for full documentation.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://my.angelcam.com/oauth/authorize/
          tokenUrl: https://my.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            public_cameras_access: Permission to access public cameras
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
        password:
          tokenUrl: https://api.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            rts_settings_access: Permission to access RTS settings
            rts_settings_manage: Permission to manage RTS settings
            rts_arming_manage: Permission to arm and disarm RTS
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
    PersonalAccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Enter your token as: `PersonalAccessToken {your-token}`

        '
x-tagGroups:
- name: General
  tags:
  - user
  - space
  - location
- name: Camera management
  tags:
  - camera
  - shared-camera
  - camera-guest
  - camera-stream-detection
  - arrow-clients
  - angelcameras
- name: Recording
  tags:
  - recording
  - stream-controls
  - shared-camera-recording
  - clip
  - shared-camera-clip
- name: Broadcasting
  tags:
  - broadcasting
  - public-camera
- name: Events & Sensors
  tags:
  - event
  - sensor
- name: Speaker management
  tags:
  - speakers
  - audio-message
- name: RTS
  tags:
  - incidents
  - rts_settings
  - rts_messages
  - rts_notification_methods
  - rts_notification_rules
- name: Billing
  tags:
  - service
  - active-service
  - order
- name: Clients
  tags:
  - client
