openapi: 3.2.0
info:
  version: 2026.06.11
  title: Angelcam active-service Shared Camera API
  contact:
    email: support@angelcam.com
  x-logo:
    url: ./assets/logo-angelcam.svg
  description: 'Angelcam RESTful API — HTTPS only, JSON, all URLs require a trailing slash. See the [developer docs](/) for quickstart, authentication, and key concepts.

    '
servers:
- url: https://api.angelcam.com/v1
tags:
- name: shared-camera
  x-displayName: Shared cameras
  description: 'For access to cameras which somebody shared with you. In general everything is same as in my cameras section, see above, there is only one difference. Together with cameras information you get also a camera''s public page url

    '
paths:
  /shared-cameras/:
    get:
      deprecated: true
      operationId: shared-cameras-list
      summary: Retrieve shared camera list
      tags:
      - shared-camera
      parameters:
      - name: limit
        in: query
        required: false
        description: 'Limit result set. Example: `1`.'
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        required: false
        description: 'Return results starting at `offset`. Example: `10`.'
        schema:
          type: integer
          minimum: 1
      - name: refresh_rate
        in: query
        required: false
        description: Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.
        schema:
          type: number
          format: float
          minimum: 0
      - name: max_width
        in: query
        required: false
        description: Maximum width of MJPEG stream and LIVE SNAPSHOT.
        schema:
          type: integer
          minimum: 1
      - name: max_height
        in: query
        required: false
        description: Maximum height of MJPEG stream and LIVE SNAPSHOT.
        schema:
          type: integer
          minimum: 1
      security:
      - OAuth2:
        - camera_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: Returns shared camera list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedCameraListResponse'
        '400':
          $ref: '#/components/responses/Error400InvalidParams'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
  /shared-cameras/{camera_id}/:
    get:
      deprecated: true
      operationId: shared-cameras-detail
      summary: Retrieve shared camera
      tags:
      - shared-camera
      parameters:
      - $ref: '#/components/parameters/sharedCameraId'
      - name: refresh_rate
        in: query
        required: false
        description: Set a maximum number of keyframes sent in MJPEG stream per second. For example if you want to have MJPEG stream with keyframe sent every 10 seconds, post value 0.1.
        schema:
          type: number
          format: float
          minimum: 0
      - name: max_width
        in: query
        required: false
        description: Maximum width of MJPEG stream and LIVE SNAPSHOT.
        schema:
          type: integer
          minimum: 1
      - name: max_height
        in: query
        required: false
        description: Maximum height of MJPEG stream and LIVE SNAPSHOT.
        schema:
          type: integer
          minimum: 1
      security:
      - OAuth2:
        - camera_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: Camera object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedCameraObject'
        '400':
          $ref: '#/components/responses/Error400InvalidParams'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
    delete:
      deprecated: true
      operationId: shared-cameras-remove
      summary: Remove shared camera
      tags:
      - shared-camera
      parameters:
      - $ref: '#/components/parameters/sharedCameraId'
      security:
      - OAuth2:
        - camera_manage
      - PersonalAccessToken: []
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
components:
  schemas:
    Error403PermissionDenied:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 403 Permission Denied
      example:
        title: permission_denied
        detail: You do not have permission to perform this action.
        status: 403
    ErrorGeneric:
      type: object
      title: Error object
      properties:
        title:
          type: string
        detail:
          type: string
        status:
          type: integer
      required:
      - title
      - detail
      - status
    SnapshotObject:
      title: Snapshot object
      properties:
        url:
          format: uri
          description: URL of the snapshot image
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
          description: The date and time when the snapshot was created for the first time
      required:
      - url
      - created_at
      example:
        url: https://dsw4ncxjbie85.cloudfront.net/snapshot/157/h8yeodu1mrjtiiok.jpg
        created_at: '2017-03-31T12:29:10.000Z'
      description: Snapshot is created by Angelcam when certain types of events are received
      type:
      - object
      - 'null'
    Error404NotFound:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 404 Not Found
      example:
        title: not_found
        detail: Not Found
        status: 404
    OwnerObject:
      type: object
      title: Owner object
      properties:
        first_name:
          type: string
          description: User's first or given name.
        last_name:
          type: string
          description: User's last or family name.
        email:
          type: string
          format: email
          description: User's email.
      required:
      - email
      example:
        first_name: John
        last_name: Appleseed
        email: john@apple.com
    StreamObject:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Stream URL
        format:
          type: string
          enum:
          - hls
          - mp4
          - mpegts
          - mjpeg
        refresh_rate:
          type: number
          format: float
          description: Stream refresh rate
      required:
      - url
      - format
      example:
        url: http://m2-eu1.angelcam.com/stream/157/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE4Mjc3OCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiMTU3In0%3D.d365e2a6fbdfae0bfa5b27175a6ea57de1ae31844fdcd22ff5f56da10a970d65
        format: mjpeg
    SharedApplicationObject:
      type: object
      properties:
        code:
          type: string
          enum:
          - CRA
      required:
      - code
      example:
        code: CRA
    Error401Unauthorized:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 401 Unauthorized
      example:
        title: not_authenticated
        detail: Authentication credentials were not provided
        status: 401
    SharedCameraListResponse:
      type: object
      title: Shared Camera list
      properties:
        count:
          type: integer
          description: Count of all shared cameras
        next:
          format: uri
          description: Next page from pagination
          type:
          - string
          - 'null'
        previous:
          format: uri
          description: Previous page from pagination
          type:
          - string
          - 'null'
        results:
          type: array
          description: List of cameras shared with the user
          items:
            $ref: '#/components/schemas/SharedCameraObject'
      required:
      - count
      - next
      - previous
      - results
    Error400InvalidParams:
      type: object
      title: Error 400 Invalid Parameters
      properties:
        title:
          type: string
        detail:
          type: object
        status:
          type: integer
      required:
      - title
      - detail
      - status
      example:
        title: invalid
        detail:
        - refresh_rate:
          - valid number is required.
          - Ensure this value is greater than 0.
        - max_width:
          - valid number is required.
          - Ensure this value is greater than or equal to 1.
        status: 400
    SharedCameraObject:
      type: object
      title: Shared camera object
      properties:
        id:
          type: integer
          minimum: 1
          description: Camera ID
        name:
          type: string
          description: Camera name
        type:
          type: string
          enum:
          - h264
          - h265
          - mjpeg
          description: Camera type
        snapshot:
          $ref: '#/components/schemas/SnapshotObject'
        status:
          type: string
          enum:
          - offline
          - online
          - unknown
        live_snapshot:
          format: uri
          description: Live snapshot URL
          type:
          - string
          - 'null'
        streams:
          type: array
          items:
            $ref: '#/components/schemas/StreamObject'
          description: Available camera streams
        applications:
          type: array
          deprecated: true
          description: Use `has_recording` and `has_notifications` fields
          items:
            $ref: '#/components/schemas/SharedApplicationObject'
        owner:
          $ref: '#/components/schemas/OwnerObject'
        has_recording:
          type: boolean
          description: Indicates whether the user to whom the camera is shared can access camera recordings
        has_notifications:
          type: boolean
          description: Indicates whether the user to whom the camera is shared will receive notifications (eg. security alerts) related to the camera
      required:
      - id
      - name
      - type
      - snapshot
      - status
      - live_snapshot
      - streams
      - applications
      - owner
      - has_recording
      - has_notifications
      example:
        id: 157
        name: Parkside Office
        type: h264
        snapshot:
          url: https://dsw4ncxjbie85.cloudfront.net/snapshot/81/y8jol6kbn0ol1gh2.jpg
          created_at: '2017-03-29T15:41:39.000Z'
        status: online
        live_snapshot: http://m1.angelcam.com/stream/81/snapshot.jpg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjIxOCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.85b552be2b7f0abaa0a3b5b4f412877f8af92f691c7d0c6db6b8c517ea8f921c
        streams:
        - format: mjpeg
          url: http://m1.angelcam.com/stream/81/stream.mjpeg?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjIxOCwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.85b552be2b7f0abaa0a3b5b4f412877f8af92f691c7d0c6db6b8c517ea8f921c
          refresh_rate: 0.1
        - format: mp4
          url: http://m1.angelcam.com/stream/81/stream.mp4?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjMxNiwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.b5b4cf405cf054701a75b359f4069d2af8a102c5ffd8f33cbb560a4638c7cb71
        - format: hls
          url: http://m1.angelcam.com/stream/81/playlist.m3u8?token=eyJ0aW1lIjogMTQ5NjkzNDYyODE5NjQwMSwgInRpbWVvdXQiOiAzNjAwLCAiYWxpYXMiOiAiODEifQ==.8ac35b434e768e8f10161b2d74da492f5fd8a8c115c18cbb421017665acd908a
        applications:
        - CRA
        owner:
          email: john@apple.com
          first_name: John
          last_name: Appleseed
        has_recording: false
        has_notifications: true
  responses:
    Error401Unauthorized:
      description: Missing or invalid authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401Unauthorized'
    Error400InvalidParams:
      description: Query params are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400InvalidParams'
    Error403PermissionDenied:
      description: Missing permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403PermissionDenied'
    Error404NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404NotFound'
  parameters:
    sharedCameraId:
      name: camera_id
      in: path
      required: true
      description: Camera ID
      example: 21
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'See the Authentication section above for full documentation.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://my.angelcam.com/oauth/authorize/
          tokenUrl: https://my.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            public_cameras_access: Permission to access public cameras
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
        password:
          tokenUrl: https://api.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            rts_settings_access: Permission to access RTS settings
            rts_settings_manage: Permission to manage RTS settings
            rts_arming_manage: Permission to arm and disarm RTS
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
    PersonalAccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Enter your token as: `PersonalAccessToken {your-token}`

        '
x-tagGroups:
- name: General
  tags:
  - user
  - space
  - location
- name: Camera management
  tags:
  - camera
  - shared-camera
  - camera-guest
  - camera-stream-detection
  - arrow-clients
  - angelcameras
- name: Recording
  tags:
  - recording
  - stream-controls
  - shared-camera-recording
  - clip
  - shared-camera-clip
- name: Broadcasting
  tags:
  - broadcasting
  - public-camera
- name: Events & Sensors
  tags:
  - event
  - sensor
- name: Speaker management
  tags:
  - speakers
  - audio-message
- name: RTS
  tags:
  - incidents
  - rts_settings
  - rts_messages
  - rts_notification_methods
  - rts_notification_rules
- name: Billing
  tags:
  - service
  - active-service
  - order
- name: Clients
  tags:
  - client
