openapi: 3.0.0
info:
  version: 2026.06.11
  title: Angelcam active-service order API
  contact:
    email: support@angelcam.com
  x-logo:
    url: ./assets/logo-angelcam.svg
  description: 'Angelcam RESTful API — HTTPS only, JSON, all URLs require a trailing slash. See the [developer docs](/) for quickstart, authentication, and key concepts.

    '
servers:
- url: https://api.angelcam.com/v1
tags:
- name: order
  x-displayName: My Orders
paths:
  /billing/orders/:
    get:
      operationId: orders
      summary: Retrieve list of orders
      tags:
      - order
      parameters:
      - name: state
        in: query
        required: false
        description: Filtering by order state
        schema:
          type: string
          enum:
          - purchase
          - unpaid
          - pending-payment
          - canceled
          - paid
      security:
      - OAuth2:
        - orders_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: Returns list of orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '400':
          $ref: '#/components/responses/Error400InvalidParams'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
  /billing/orders/{order_id}/:
    get:
      operationId: order-detail
      summary: Retrieve order detail
      tags:
      - order
      parameters:
      - $ref: '#/components/parameters/orderId'
      security:
      - OAuth2:
        - orders_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: Returns list of available services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderObject'
        '400':
          $ref: '#/components/responses/Error400InvalidParams'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
  /billing/orders/{order_id}/items/:
    get:
      operationId: order-items
      summary: Retrieve list of items on order
      tags:
      - order
      parameters:
      - $ref: '#/components/parameters/orderId'
      security:
      - OAuth2:
        - orders_access
      - PersonalAccessToken: []
      responses:
        '200':
          description: Returns list of order items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItemListResponse'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403PermissionDenied'
        '404':
          $ref: '#/components/responses/Error404NotFound'
components:
  schemas:
    ErrorGeneric:
      type: object
      title: Error object
      properties:
        title:
          type: string
        detail:
          type: string
        status:
          type: integer
      required:
      - title
      - detail
      - status
    Error400InvalidParams:
      type: object
      title: Error 400 Invalid Parameters
      properties:
        title:
          type: string
        detail:
          type: object
        status:
          type: integer
      required:
      - title
      - detail
      - status
      example:
        title: invalid
        detail:
        - refresh_rate:
          - valid number is required.
          - Ensure this value is greater than 0.
        - max_width:
          - valid number is required.
          - Ensure this value is greater than or equal to 1.
        status: 400
    Error403PermissionDenied:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 403 Permission Denied
      example:
        title: permission_denied
        detail: You do not have permission to perform this action.
        status: 403
    OrderItemObject:
      type: object
      title: Order item object
      properties:
        service:
          $ref: '#/components/schemas/ServiceObject'
        period_from:
          type: string
          format: datetime
          example: '2017-01-01T00:00:20.000Z'
        period_until:
          type: string
          nullable: true
          format: datetime
          example: '2017-02-01T00:00:20.000Z'
        full_price:
          type: string
          format: number
          description: Decimal price in USD
          example: 3.99
        price:
          type: string
          format: number
          description: Decimal price in USD
          example: 3.99
        currency:
          type: string
          description: Currency of the service
          example: USD
        type:
          type: string
          description: Type of item
          enum:
          - receivable
          - refund
      required:
      - service
      - period_from
      - period_until
      - full_price
      - price
      - currency
      - type
    OrderItemListResponse:
      type: object
      title: Order list
      properties:
        count:
          type: integer
          description: Count of all services
        next:
          format: uri
          description: Next page from pagination
          nullable: true
          type: string
        previous:
          format: uri
          description: Previous page from pagination
          nullable: true
          type: string
        results:
          type: array
          description: List of orders
          items:
            $ref: '#/components/schemas/OrderItemObject'
      required:
      - count
      - next
      - previous
      - results
    ServiceObject:
      type: object
      title: Service object
      properties:
        type:
          type: string
          description: Type of service
          enum:
          - cloud-recording
          - broadcasting
          - timelapse
          - user-service
          - event-recording
          - live-view
          example: cloud-recording
        code:
          type: string
          description: Code of service, this code together with type is unique identifier of service
          example: 3-days
      required:
      - type
      - code
    Error401Unauthorized:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 401 Unauthorized
      example:
        title: not_authenticated
        detail: Authentication credentials were not provided
        status: 401
    Error404NotFound:
      allOf:
      - $ref: '#/components/schemas/ErrorGeneric'
      title: Error 404 Not Found
      example:
        title: not_found
        detail: Not Found
        status: 404
    OrderListResponse:
      type: object
      title: Order list
      properties:
        count:
          type: integer
          description: Count of all services
        next:
          format: uri
          description: Next page from pagination
          nullable: true
          type: string
        previous:
          format: uri
          description: Previous page from pagination
          nullable: true
          type: string
        results:
          type: array
          description: List of orders
          items:
            $ref: '#/components/schemas/OrderObject'
      required:
      - count
      - next
      - previous
      - results
    OrderObject:
      type: object
      title: Order object
      properties:
        id:
          type: integer
          description: Order id
          example: 1
        closed_at:
          type: string
          format: datetime
          description: Date when order was closed
          example: '2017-01-01T00:00:20.000Z'
        paid_at:
          type: string
          nullable: true
          format: datetime
          description: Date when order was paid
          example: '2017-01-01T00:00:20.000Z'
        due_at:
          type: string
          nullable: true
          format: datetime
          description: Date when order is due
          example: '2017-01-01T00:00:20.000Z'
        total_price:
          type: string
          format: number
          description: Decimal price in USD
          example: 3.99
        currency:
          type: string
          description: Currency of the order
          example: USD
      required:
      - id
      - closed_at
      - paid_at
      - due_at
      - total_price
      - currency
  responses:
    Error403PermissionDenied:
      description: Missing permission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403PermissionDenied'
    Error404NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404NotFound'
    Error401Unauthorized:
      description: Missing or invalid authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401Unauthorized'
    Error400InvalidParams:
      description: Query params are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400InvalidParams'
  parameters:
    orderId:
      name: order_id
      in: path
      required: true
      description: Order ID
      example: 3
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'See the Authentication section above for full documentation.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://my.angelcam.com/oauth/authorize/
          tokenUrl: https://my.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            public_cameras_access: Permission to access public cameras
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
        password:
          tokenUrl: https://api.angelcam.com/oauth/token/
          scopes:
            user_access: Permission to access user information
            user_delete: Permission to delete the current user account
            camera_access: Permission to list cameras and to get details of a specific camera
            camera_create: Permission to create cameras
            camera_manage: Permission to update cameras
            camera_delete: Permission to delete cameras
            camera_guest_access: Permission to access camera guest
            camera_guest_manage: Permission to manage camera guest
            arrow_client_access: Permission to access Arrow clients
            arrow_client_manage: Permission to manage Arrow clients
            event_access: Permission to access events
            recording_access: Permission to access camera recordings
            recording_start_stop: Permission to start and stop recording on camera
            recording_clips_access: Permission to access recording clips
            recording_clips_create: Permission to create recording clips
            recording_clips_share: Permission to share recording clips
            sensor_access: Permission to list sensors and to get details of a specific sensor
            sensor_manage: Permission to create, update and delete sensors
            broadcasting_access: Permission to see general broadcasting information and access broadcasting streams
            broadcasting_start_stop: Permission to start and stop public broadcasting on camera
            client_access: Permission to list resellers clients and get details of a specific client
            client_create: Permission to create client account
            client_manage: Permission to update clients detail
            streams_detect: Permission to detect camera streams
            sites_access: Permission to access sites
            sites_manage: Permission to create, update and delete sites
            services_access: Permission to access available services
            trials_access: Permission to access available trials
            trials_activate: Permission to activate a trial
            active_services_access: Permission to access active services
            active_services_manage: Permission to manage active services
            orders_access: Permission to access orders
            messages_access: Permission to access RTS messages
            messages_manage: Permission to manage RTS messages
            rts_settings_access: Permission to access RTS settings
            rts_settings_manage: Permission to manage RTS settings
            rts_arming_manage: Permission to arm and disarm RTS
            incidents_access: Permission to access Incidents
            space_access: Permission to list and activate spaces
            space_permissions_access: Permission to view space permissions
    PersonalAccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Enter your token as: `PersonalAccessToken {your-token}`

        '
x-tagGroups:
- name: General
  tags:
  - user
  - space
  - location
- name: Camera management
  tags:
  - camera
  - shared-camera
  - camera-guest
  - camera-stream-detection
  - arrow-clients
  - angelcameras
- name: Recording
  tags:
  - recording
  - stream-controls
  - shared-camera-recording
  - clip
  - shared-camera-clip
- name: Broadcasting
  tags:
  - broadcasting
  - public-camera
- name: Events & Sensors
  tags:
  - event
  - sensor
- name: Speaker management
  tags:
  - speakers
  - audio-message
- name: RTS
  tags:
  - incidents
  - rts_settings
  - rts_messages
  - rts_notification_methods
  - rts_notification_rules
- name: Billing
  tags:
  - service
  - active-service
  - order
- name: Clients
  tags:
  - client
